DATABASE_URL= # URI PostgreSQL, contoh: postgresql://bani:abcd123@localhost:5432/hcast

JWT_SECRET=hcast-jwt-secret-change-in-production # JWT Secret. pake aja `openssl rand -hex 32`

UPSTREAM_API_URL= # API, need? chat: t.me/bani_nvsl

NEXT_PUBLIC_IMG_PROXY=
